{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
<body>

<div class="phone">
    <div class="screen" style="display:flex; align-items:center; justify-content:center;">

        <form method="POST" style="width:80%;">
            {% csrf_token %}
            <h3 style="text-align:center;">Login</h3>
            {{ form.as_p }}
            <button type="submit" class="add-btn" style="width:100%;">Login</button>
        </form>

    </div>
</div>

</body>
</html>